@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,500;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Gen Jyuu Gothic LP', sans-serif;
  }
  body{
    font-weight: 900;
    line-height: 1.5;
    background-color: #FFC37D;
  }
}

@layer components{
  .g01{
    background: linear-gradient(180deg, #002D5F 0%, #000D1C 100%);
  }
  .g02{
    background: linear-gradient(180deg, #002D5F 0%, #001E40 100%);
  }
  .g03{
    background: linear-gradient(180deg, #001E40 0%, #000D1C 100%);
  }
}